table {
    border-collapse: collapse;
    font-family: Calibri, sans-serif;
    margin: 0 auto;
}

colgroup, tbody {
    border: solid medium;
}

td {
    border: solid thin;
}

.cell {
    height: 30px;
    width: 30px;
    text-align: center;
    font-size: 20px;
}

.cell_input {
    border: none;
}

.btn {
    height: 50px;
    width: 100px;
    text-align: center;
    font-size: 30px;
    display: inline-block;
}

#solve_btn {
    margin: 20px 10px 0 0;
}

#scan_btn {
    width: 180px;
    margin: 20px 0 0 0;
}

#clear_btn {
    margin: 20px 0 0 10px;
}

#buttons_container {
    text-align: center;
}

#result_div {
    margin-top: 20px;
}

#loader {
    margin: 0 auto;
    margin-top: 20px;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite; 
    animation: spin 2s linear infinite;
    display: none;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
