<!DOCTYPE html>
<html>

<head>
  <title>Sudoku</title>
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{url_for('static', filename='script.js')}}" async type="module"></script>
</head>

<body>
    <table>
        <caption>Input</caption>
        <colgroup><col><col><col></colgroup>
        <colgroup><col><col><col></colgroup>
        <colgroup><col><col><col></colgroup>
        {% for i in range(3) %}
            <tbody>
                {% for j in range(3) %}
                    <tr class="row">
                        {% for k in range(9) %}
                            <td><input class="cell cell_input" type="text" maxlength="1"></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        {% endfor %}
    </table>

    <div id="buttons_container">
    <input id="solve_btn" class="btn" type="button" value="Solve">
    <input id="scan_btn" class="btn" type="button" value="Scan photo" onclick="$('#file_input').click();">
    <input id="file_input" type="file" style="display:none" onclick="this.value=null;">
    <input id="clear_btn" class="btn" type="button" value="Clear">
    </div>

    <div id="loader"></div> 

    <div id="result_div">

    </div>
</body>
</html>
